.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("../../assets/images/pizza-1.jpg");
  height: 100vh;
  max-height: 100%;
  background-position: center;
  background-size: cover;
}

.hero-content {
  height: calc(100vh - 80px);
  max-height: 100%;
  width: 100vw;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.hero-items {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  padding: 0 2rem;
  width: 650px;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .hero-items {
    width: 100%;
  }
}

.hero-h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  box-shadow: 3px 5px #e9ba23;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.hero-p {
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
}

.hero-btn {
    padding: 20px 25px;
    background-color: #e31837;
   font-size: 1.4rem;
    word-spacing: 1px;
    transition: 0.2s ease-out;
}

.hero-btn:hover{
    background-color: #ffc500;
    transition: .3s ease-out;
    cursor: pointer;
    color: #fff
}
