.feature{
    min-width: 100vw;
    /* background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1)) url("../../assets/images/featured.jpg"); */
    background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,0.7)), url("../../assets/images/featured.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-heading{
    font-size: clamp(3rem, 5vw, 5rem);
    text-align: center;
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 2rem;
}

.feature-tagline{
    font-size: clamp(1.3rem, 3vw, 2rem);
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.feature-btn{
    padding: 10px 15px;
    background-color: #ffc500;
   font-size: 1.4rem;
    word-spacing: 1px;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: #000;
}

.feature-btn:hover{
    background-color: aliceblue;
   transition: .2s ease-in-out;
}